<%= form_with model: [lesson.student.instructor, lesson.student, lesson], local: true do |form|  %>
  <div class="field">
    <%= form.label :"Номер занятия" %>
    <%= form.number_field :number %>
  </div>
  <div class="field">
    <%= form.label :Содержание %>
    <%= form.rich_text_area :content %>
  </div>
  <div class="field">
    <%= form.label :Время %>
    <div>
      <%= form.datetime_select :tempus %>
    </div>
  </div>
  
  <div class="field">
    <%= form.label :"Ссылка на видео" %>
    <%= form.text_area :video %>
  </div>
  <div class="actions">
    <%= form.submit :Сохранить %>
  </div>
<% end %>
