<% if @current_instructor%>
  <%= link_to 'Добавить урок', new_instructor_student_lesson_path(@current_instructor, @student), remote: true, class: 'btn btn-info' %>
<% end %>
<div>
  <% if @student.avatar.attached?  %>
    <%= image_tag @student.avatar, style: "max-width: 100px" %>
  <% end %>
  <%= @student.name %>
  <hr>
  <p> Уроки: </p>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <nav class="nav flex-column">
          <%= render 'menu', student: @student%>
        </nav>
      </div>
      <div class="col-6">
        <%= render 'show', lesson: @lesson %>
      </div>
    </div>
  </div>
  <hr>
</div>
