<% if @current_instructor or @current_student or @current_admin %>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Меню
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <% if @current_instructor %>
        <%= link_to 'Выйти', logout_path, method: 'delete', class: "dropdown-item"  %>
        <%= link_to 'Ученики', instructor_path(@current_instructor), class: "dropdown-item" %>
        <%= link_to 'Настройки', settings_path(@current_instructor), class: "dropdown-item" %>
        <% if @student %>
        <% end%>
      <% else %>
        <% if @current_student %>
          <%= link_to 'Выйти', logout_path, method: 'delete', class: "dropdown-item"  %>
          <br>
          <%= link_to 'Уроки', instructor_student_path(@current_student.instructor, @current_student),  class: "dropdown-item"%>
        <% else %>
          <% if @current_admin %>
            <%= link_to 'Выйти', logout_path, method: 'delete', class: "dropdown-item"  %>
            <%= link_to 'Инструкторы', instructors_path,  class: "dropdown-item"%>
            <%= link_to 'Обновить статус', edit_status_path(Status.last), class: 'dropdown-item', remote: true %>
          <% else %>
          <% end %>
        <% end %>
      <% end %>
<% end %>
    </div>
  </div>
